.img-item {
    background-size: cover;
    background-position: 50%;
    height: 200px;
    width: 200px;
    margin: 8px 25px;
    object-fit: cover;
    cursor: pointer;
    transition: transform .2s;
}

.img-item:hover {
    transform: scale(1.1); 
}